<!--For Understanding Virtual Environment-->
<!--https://www.youtube.com/watch?v=N5vscPTWKOk-->
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/css/Bootstrap.css' %}" />


        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <!--////////////////// CSRF ///////////////////////////////-->
        <script type="text/javascript">
            var user = "{{ request.user }}";
            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== "") {
                    var cookies = document.cookie.split(";");
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === name + "=") {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken("csrftoken");

            // /////////////////////////////////////////////////////////////
            // ////////////////cookie///////////////////////////////
            // /////////////////////////////////////////////////////////////

            function getCookie(name) { // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");
                // Loop through the array elements
                for (var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
                    /* Removing whitespace at the beginning of the cookie name
					        and compare it with the given string */
                    if (name == cookiePair[0].trim()) { // Decode the cookie value and return
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                // Return null if not found
                return null;
            }
            var cart = JSON.parse(getCookie("cart"));
            if (cart == undefined) {
                cart = {};
                console.log("Cart was created html!");
                document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
            }
            console.log("Cart de main html:", cart);
        </script>

        <title>Ecommerce</title>
    </head>

    <body>
        <!-- Nav Bar Final-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand navbar-logo">
                <a href="{% url 'store' %}">
                    <img src="{% static '/images/Logo.png' %}" width="120" height="50" alt="" />
                </a>
            </div>
            <!-- collapse Button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            {% if request.get_full_path == "/register/" %}
            <h5 style="width: 100vw;" class="text-center text-info">Join Today!</h5>

            {% elif request.get_full_path == "/cart/" %}
            <h5 style="width: 100vw;" class="text-center text-info">Cart <span style="color: yellow;">$</span></h5>

            {% elif request.get_full_path == "/login/" %}
            <h5 style="width: 100vw;" class="text-center text-info">Log In :)</h5>

            {% elif request.get_full_path == "/logout/" %}
            <h5 style="width: 100vw;" class="text-center text-info">Logged Out :( </h5>


            {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <!-- Just For Testing Disabling Category
                        
                        <div class="CategoryButton">
                            <img width="15px" src="{% static '/images/icons/browser-4x.png' %}" alt="Category">

                            <h6 style="color: white; font-size:12px">Category
                            </h6>
                            <form class='TagFilter' action="" method="GET">

                                {{ Filters.form.tags }}


                                <button style="color: white; font-size:14px" type="submit">Search</button>
                            </form>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
                    -->
                    </li>
            </div>
            </li>
            </ul>

            <form class="Search-Bar" action="" method="GET">
                {{ Filters.form.name }}
                <button class="btn btn-outline-success" type="submit">
                    <img width="20px" src="{% static '/images/icons/caret-right-4x.png' %}" alt="Search">
                </button>
            </form>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class='Auth-Buttons'>
                    {% if user.is_authenticated %}
                    <a class="Links" href="{% url 'logout' %}">
                        <button style=" padding: 3%;" class=" Auth-Button">
                            <img src="{% static '/images/icons/person-4x.png' %}" alt="">

                            LogOut
                    </a>
                    </button>
                    {% else %}
                    <a class="Links" href="{% url 'login' %}">
                        <button style=" padding: 3%;" class=" Auth-Button">

                            <img src="{% static '/images/icons/person-4x.png' %}" alt="">

                            LogIn
                    </a>

                    </button>
                    <a class="Links" href="{% url 'register' %}">
                        <button style=" padding: 3%;" class=" Auth-Button">
                            <img src="{% static '/images/icons/account-login-4x.png' %}" alt="">

                            Register
                    </a>
                    </button>
                    {% endif %}
                </div>
            </div>
            {% if request.get_full_path == "/register/" %}
            {% elif request.get_full_path == "/login/" %}
            {% elif request.get_full_path == "/logout/" %}
            {% else %}
            .cart
            <a href=" {% url 'cart' %}">
                <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{ cartItems }}</p>
    </body>
    {% endif %}

</html>
</nav>
<hr />
<div class="container">
    <br />


    {% if messages %} {% for message in messages %}
    <div style='text-align:center;' class="alert alert-warning" role="alert">
        {{message}}

        {% endfor %} {% endif %}
    </div>
</div>
{% block content %}{% endblock content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</body>

</html>
</body>

</html>
